@use "../abstracts" as a;

.gobackdiv {
  margin-top: 20px;
}
.goBack {
  text-decoration: none;
  color: a.$body-color;
  font-weight: 600;
  text-align: right;
}

#getting-to-know {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.meter {
  height: 15px;
  border-radius: 30px;
  margin-top: 50px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}
.percentage {
  width: 50%;
}

.progress {
  background-color: a.$secondary-color;
  animation: progressBar 3s ease-in-out both;
}

#app,
.meter {
  display: grid;
  grid-row: 1/1;
}

.vue-section-map {
  margin-top: 100px;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .gobackdiv {
    margin-top: 16px;
  }
}

.nameForm label {
  font-family: a.$heading-font-family;
  font-size: 1em;
}

.nameForm input {
  outline: none;
  border: none;
  border-bottom: 5px solid black;
  width: 350px;
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

.vue-section-map {
  text-align: center;
}

#app h2 {
  font-size: 3em;
}

// .afterNameEntered {
//   opacity: 0;
// }
@media screen and (min-width: 1200px) {
  .gobackdiv {
    margin-top: 30px;
    margin-left: 50px;
  }
  .gobackdiv a {
    text-align: center;
  }
}
